:host {
  .form {
    display: flex;
    flex-direction: column;

    &__title {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__sections {
      display: flex;
      flex-direction: column;
      gap: 1em;
    }
  }
}
