:host {
  .icon-container {
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    color: var(--color--text);
    border-radius: 0.5em;
    background-color: var(--color--background);
    transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
  }

  .icon-container:hover {
    background-color: var(--color-secondary);
    color: var(--color--background);
  }
}
