:host {
  width: 100%;
  .main--header {
    height: var(--menu-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
    background-color: var(--color-primary);
  }
}
