:host {
  width: 100%;


  .main--header {
    height: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
    //background-color: var(--color-background);
    background-color: var(--color-primary);
    &-home-icon {

    }
  }

  .form {
  width: 5em;
    border-radius: 50%
  }
}
