:host {
  .form-section {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 0.25em;
    margin-right: 0.25em;

    &__front {
      display: flex;

      flex-direction: row;
      justify-content: center;
      background-color: var(--color-primary);
      border-radius: .5em .5em 0 0;
      transition: border-radius 50ms ease-out;

      &--rolled-up {
        border-radius: .5em;
      }

      &--disabled {
        pointer-events: none;
        opacity: 0.5;
      }

      &-title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        align-self: center;
      }

      &-icon {
        position: absolute;
        right: 0.5em;
        top: 0.5em;
      }
    }

    &__wrapper {
      &--visible {
        transition: all 200ms ease-in-out;
        max-height: 70em;
        overflow: hidden;
        opacity: 1;
      }

      &--hidden {
        opacity: 0;
        max-height: 0;
      }
    }
  }
}
