@import "app/styles/variables";

* {
  --ref-size: 1em;
  --ref-size-tenth: calc(var(--ref-size) / 10)

}

html, body {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--color-text);
  background-color: var(--color--background);
}


