@use '../../../styles/mixins/repair-record';

:host {
  width: 100%;

  .repair {
    margin: 0 0.5em 0 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color-primary);
    border-radius: 0.5em;
    padding: 0.5em;

    .main--repair--record {
      width: 100%;
      font-size: 0.9em;
      row-gap: 0.1em;
      @include repair-record.grid-parent;
      @include repair-record.grid-children;
    }
    &__details {
      max-height: 40em;
      opacity: 1;
      transition: all 500ms ease-out;
      overflow: hidden;

      &--hidden {
        opacity: 1;
        max-height: 0;
        overflow: hidden;
      }
    }
  }

  app-separator {
    margin-bottom: 1em;
  }
}
